@charset "UTF-8";           

        body{
            background-color: #e4e4e4;
        }

        *{
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }   

        header{
            position: relative;
            display: block;
            width: 100%;
            margin: 0 auto;
            background-color: red;
        }
        /*Cabecalho + logo + pesquisa + Botão*/
        #caixaCabecalho{
         background-color: white; 
         width:calc(65% + 140px);
         background-image: url(logo.png);
         background-repeat: no-repeat;
         background-size: 150px;
         margin: 0 auto;
         display: flex;
         justify-content: space-between;
         max-width:calc(940px + 140px);
        }
        #logoOneItem{
            height: 50px;
            margin: 0;
            position: relative;
            display: block;
            flex: 1 2 auto;
        }
        
        input[type=text] {
            border: 2px solid #0071e3;
            height: 30px;
            width: 350px;
            padding: 0 15px;
            border-radius: 8px;
            margin: 9px auto;
            box-shadow: 0px 0px 0px .5px rgba(0, 0, 0, 0.2);
        }
        button[type=button] {
            background-color: #0071e3;
            height: 30px;
            border: 3px solid #0071e3;
            border-radius: 8px;
            width: 30px;
            color: white;
            box-shadow: 0px 0px 0px .5px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
        button:hover{
            cursor: pointer;
            background-color: #156296;
        }
        #logo{
            position: fixed;
            display: block;
            background-color: white;
            flex: 1 1 auto;
            margin: 0 auto;
            padding:16px 0;
            z-index: 2;
            width: 100%;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
            
        }
        #logoContra{
            position: relative;
            display: block;
            background-color: white;
            flex: 1 1 auto;
            margin: 0 auto;
            padding:16px 0;
            z-index: 0;
            width: 100%;
            
        }
        
        #imgcapa{
            display: block;
            position: relative;
            background-image: url(background-geral.png);
            background-repeat: no-repeat;
            background-size: 110%;
            height: 230px;
            background-position: center;
            width: 100%;
            /*border: .3px solid black;*/
        }
        #iContact{
           background-color: #0071e3;
            height: 30px;
            padding: 0 18px;
            border-radius: 8px;
            border: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 12pt;
            font-weight: bolder;
            text-shadow:0px 0px 2px #333333 ;
            color: white;
            position: relative;
            top: 50%;
            transform: translate(0,-50%);
            box-shadow: 0px 0px 0px .5px rgba(0, 0, 0, 0.2);
        }
        #iContact:hover{
            cursor: pointer;
            background-color: #156296;
        }
        

        section{
            background-color: white;
            display: block;
            position: relative;
            width: 65%;
            top: -100px;
            margin: 0 auto;
            padding: 80px 70px;
            max-width: 940px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        }
        /*
        
        
        */

        #iLogo{
            z-index: -10;
        }
        #acertoBut{
            background-color: transparent;
            position: relative;
        }

        /* - - - --  -- - - */
        #postcabecalho{
            margin-bottom: 40px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: 40px;
        }

        #postcabecalho h1{
            color: #333333;
            font-size: 250%;
            text-align: center;
        }
        #postcabecalho h3{
            color: #333333;
            font-weight: normal;
            font-size: 160%;
            text-align: center;
        }
        #goiania-go{
            background: rgb(0,168,89);
            background: linear-gradient(137deg, rgba(0,168,89,1) 0%, rgba(24,119,183,1) 77%);
            color: white;
            font-weight: bolder;
            font-size: 100%;
            padding: 2px 30px;
            left: 50%;
            display: block;
            position: relative;
            transform: translate(-50%,0);
            top: 20px;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            text-align: center;
        }
        
        #goiania-go:hover{
            cursor:default;
        }

        #feedposts h1{
            color: #333333;
            font-size: 160%;
            text-align: left;
            font-weight: bold;
            margin: 5px 0;
        }
        #feedposts h3{
            color: #333333;
            font-size: 120%;
            text-align: left;
            font-weight: bold;
            margin: 25px auto 0px auto;
        }
        #feedposts p{
            color: #333333;
            font-weight: normal;
            font-size: 120%;
            text-align: left;
            margin: 10px 0;
        }
        .img{
            display: block;
            position: relative;
            margin: 20px auto;
            width:700px;
        }
        .buttCallPost{
            background-color: #0071e3;
            height: 30px;
            padding: 0 18px;
            border-radius: 8px;
            border: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 12pt;
            font-weight: bolder;
            text-shadow:0px 0px 2px #333333 ;
            color: white;
            position: relative;
            margin: 30px auto;
            display: block;
            box-shadow: 0px 0px 0px .5px rgba(0, 0, 0, 0.2);
        }
        #datePost{
            border: 2px solid #585858;
            background-color: #e4e4e4;
            width: 80px;
            border-radius: 5px;
            display: none;
            right: 0;
            position: absolute;
            margin: 15px 0;
            top: 0;
        }
        #datePost:hover{
            background-color:#e4e4e4;
            cursor:default;
        }
        #feedposts{
            position: relative;
            margin:  40px 0;
            
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
        #listJobsInfo{
            font-size: 110%;
            padding: 5px 45px;
        }
        #listJobsInfo li{
            font-size: 110%;
            padding: 8px 0px;
        }
        #contraOb{
            font-weight: bolder !important;
        }
        footer{
            background-color: #333333;
            color: white;
            padding: 40px 0;
            margin: 0;
            text-align: center;
        }
        footer h2{
            font-weight: normal;
            font-size: 120%;
        }
        .fa{
            display: block;
            position: relative;
            top: 50%;
            transform: translate(0,-100%);
        }

        .iframeMap{
            border: none ;
            box-shadow: 0px 0px 0px .5px rgba(0, 0, 0, 0.4);
        }
